In [1]:
import numpy as np
import pandas as pd
import glob
import geopandas as gp

In [2]:
output_dir = "../data/gsa_et/"
# Load GSAs shapefile and clean them so we only have "large GSAs"
gsa_shape = gp.read_file(
    "../shape/i03_Groundwater_Sustainability_Agencies_MapService.shp"
)
cv_shape = gp.read_file("../shape/Alluvial_Bnd.shp")
cv_shape.to_crs(3310, inplace=True)
gsa_shape.to_crs(3310, inplace=True)
cv_shape["geometry"] = cv_shape.geometry.buffer(10000)
gsa_cv = gsa_shape.within(cv_shape.loc[0, "geometry"])
gsa_cv = gsa_shape.loc[gsa_cv]
gsa_cv_cleaned_no_small = gsa_cv[gsa_cv["ShapeSTAre"] > 4e8]
gsa_names = []
gsa_ids = []

In [3]:
output_dirs = glob.glob("../data/gsa_et/*")

In [4]:
output_dirs

['../data/gsa_et/61',
 '../data/gsa_et/159',
 '../data/gsa_et/192',
 '../data/gsa_et/69',
 '../data/gsa_et/306',
 '../data/gsa_et/160',
 '../data/gsa_et/211',
 '../data/gsa_et/218',
 '../data/gsa_et/287',
 '../data/gsa_et/413',
 '../data/gsa_et/484',
 '../data/gsa_et/226',
 '../data/gsa_et/219',
 '../data/gsa_et/217',
 '../data/gsa_et/288',
 '../data/gsa_et/244',
 '../data/gsa_et/281',
 '../data/gsa_et/406',
 '../data/gsa_et/266',
 '../data/gsa_et/464',
 '../data/gsa_et/409',
 '../data/gsa_et/205',
 '../data/gsa_et/233',
 '../data/gsa_et/20',
 '../data/gsa_et/187',
 '../data/gsa_et/18',
 '../data/gsa_et/7',
 '../data/gsa_et/189',
 '../data/gsa_et/42',
 '../data/gsa_et/116',
 '../data/gsa_et/323',
 '../data/gsa_et/73',
 '../data/gsa_et/118',
 '../data/gsa_et/120',
 '../data/gsa_et/10',
 '../data/gsa_et/340',
 '../data/gsa_et/19',
 '../data/gsa_et/314',
 '../data/gsa_et/43',
 '../data/gsa_et/508',
 '../data/gsa_et/506',
 '../data/gsa_et/65',
 '../data/gsa_et/62',
 '../data/gsa_et/369',
 '../data/gsa_et/358',
 '../data/gsa_et/39',
 '../data/gsa_et/106',
 '../data/gsa_et/419',
 '../data/gsa_et/277',
 '../data/gsa_et/481',
 '../data/gsa_et/249',
 '../data/gsa_et/420',
 '../data/gsa_et/418',
 '../data/gsa_et/225',
 '../data/gsa_et/222',
 '../data/gsa_et/209',
 '../data/gsa_et/238',
 '../data/gsa_et/239',
 '../data/gsa_et/206',
 '../data/gsa_et/311',
 '../data/gsa_et/124',
 '../data/gsa_et/514',
 '../data/gsa_et/146',
 '../data/gsa_et/40',
 '../data/gsa_et/147']

In [7]:
sample_dir = output_dirs[0]
sample_dir_files = glob.glob(output_dirs[0] + '/*')
sample_dir_files

['../data/gsa_et/61/tc_2017-01-01.csv',
 '../data/gsa_et/61/modis_2018-01-01.csv',
 '../data/gsa_et/61/tc_2003-01-01.csv',
 '../data/gsa_et/61/modis_2020-01-01.csv',
 '../data/gsa_et/61/modis_2001-01-01.csv',
 '../data/gsa_et/61/modis_2015-01-01.csv',
 '../data/gsa_et/61/tc_2011-01-01.csv',
 '../data/gsa_et/61/tc_2005-01-01.csv',
 '../data/gsa_et/61/openet_2019-01-01.csv',
 '../data/gsa_et/61/modis_2007-01-01.csv',
 '../data/gsa_et/61/tc_2008-01-01.csv',
 '../data/gsa_et/61/modis_2013-01-01.csv',
 '../data/gsa_et/61/modis_2019-01-01.csv',
 '../data/gsa_et/61/tc_2002-01-01.csv',
 '../data/gsa_et/61/tc_2016-01-01.csv',
 '../data/gsa_et/61/modis_2014-01-01.csv',
 '../data/gsa_et/61/tc_2004-01-01.csv',
 '../data/gsa_et/61/tc_2010-01-01.csv',
 '../data/gsa_et/61/openet_2018-01-01.csv',
 '../data/gsa_et/61/tc_2009-01-01.csv',
 '../data/gsa_et/61/modis_2012-01-01.csv',
 '../data/gsa_et/61/modis_2006-01-01.csv',
 '../data/gsa_et/61/openet_2020-01-01.csv',
 '../data/gsa_et/61/tc_2015-01-01.csv',
 '../data/gsa_et/61/tc_2001-01-01.csv',
 '../data/gsa_et/61/tc_2020-01-01.csv',
 '../data/gsa_et/61/tc_2018-01-01.csv',
 '../data/gsa_et/61/modis_2003-01-01.csv',
 '../data/gsa_et/61/modis_2017-01-01.csv',
 '../data/gsa_et/61/modis_2008-01-01.csv',
 '../data/gsa_et/61/tc_2013-01-01.csv',
 '../data/gsa_et/61/tc_2007-01-01.csv',
 '../data/gsa_et/61/openet_2016-01-01.csv',
 '../data/gsa_et/61/modis_2005-01-01.csv',
 '../data/gsa_et/61/modis_2011-01-01.csv',
 '../data/gsa_et/61/tc_2014-01-01.csv',
 '../data/gsa_et/61/modis_2016-01-01.csv',
 '../data/gsa_et/61/tc_2019-01-01.csv',
 '../data/gsa_et/61/modis_2002-01-01.csv',
 '../data/gsa_et/61/tc_2006-01-01.csv',
 '../data/gsa_et/61/modis_2009-01-01.csv',
 '../data/gsa_et/61/tc_2012-01-01.csv',
 '../data/gsa_et/61/openet_2017-01-01.csv',
 '../data/gsa_et/61/modis_2010-01-01.csv',
 '../data/gsa_et/61/modis_2004-01-01.csv']

In [9]:
sample_file_types = []
for output_file in sample_dir_files:
    sample_file_types.append(output_file.split("/")[4].split("_")[0])
sample_file_types

['tc',
 'modis',
 'tc',
 'modis',
 'modis',
 'modis',
 'tc',
 'tc',
 'openet',
 'modis',
 'tc',
 'modis',
 'modis',
 'tc',
 'tc',
 'modis',
 'tc',
 'tc',
 'openet',
 'tc',
 'modis',
 'modis',
 'openet',
 'tc',
 'tc',
 'tc',
 'tc',
 'modis',
 'modis',
 'modis',
 'tc',
 'tc',
 'openet',
 'modis',
 'modis',
 'tc',
 'modis',
 'tc',
 'modis',
 'tc',
 'modis',
 'tc',
 'openet',
 'modis',
 'modis']

In [10]:
df = pd.DataFrame(np.array([sample_dir_files, sample_file_types]).T, columns=['file_loc', 'type'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   file_loc  45 non-null     object
 1   type      45 non-null     object
dtypes: object(2)
memory usage: 848.0+ bytes

In [37]:
unique_types = sorted(df['type'].unique())

In [38]:
df_one_type = df[df['type']==unique_types[0]]

In [40]:
df_one_type.info()
print(unique_types[0])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1 to 44
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   file_loc  20 non-null     object
 1   type      20 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes
modis

In [41]:
df_one_type

                                  file_loc   type
1   ../data/gsa_et/61/modis_2018-01-01.csv  modis
3   ../data/gsa_et/61/modis_2020-01-01.csv  modis
4   ../data/gsa_et/61/modis_2001-01-01.csv  modis
5   ../data/gsa_et/61/modis_2015-01-01.csv  modis
9   ../data/gsa_et/61/modis_2007-01-01.csv  modis
11  ../data/gsa_et/61/modis_2013-01-01.csv  modis
12  ../data/gsa_et/61/modis_2019-01-01.csv  modis
15  ../data/gsa_et/61/modis_2014-01-01.csv  modis
20  ../data/gsa_et/61/modis_2012-01-01.csv  modis
21  ../data/gsa_et/61/modis_2006-01-01.csv  modis
27  ../data/gsa_et/61/modis_2003-01-01.csv  modis
28  ../data/gsa_et/61/modis_2017-01-01.csv  modis
29  ../data/gsa_et/61/modis_2008-01-01.csv  modis
33  ../data/gsa_et/61/modis_2005-01-01.csv  modis
34  ../data/gsa_et/61/modis_2011-01-01.csv  modis
36  ../data/gsa_et/61/modis_2016-01-01.csv  modis
38  ../data/gsa_et/61/modis_2002-01-01.csv  modis
40  ../data/gsa_et/61/modis_2009-01-01.csv  modis
43  ../data/gsa_et/61/modis_2010-01-01.csv  modis
44  ../data/gsa_et/61/modis_2004-01-01.csv  modis

In [30]:
file_names_array = np.array(df_one_type['file_loc'])
for i in range(len(file_names_array)):
    if i == 0:
        tc_df = pd.read_csv(file_names_array[i])
    temp_df = pd.read_csv(file_names_array[i])
    tc_df = pd.concat([new_df, temp_df], axis=0)

In [31]:
tc_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         264 non-null    object
 1   spatial_ref  264 non-null    int64
 2   aet          264 non-null    float64
 3   pet          264 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 10.3+ KB

In [42]:
df_one_type = df[df['type']==unique_types[1]]
print(unique_types[1])

openet

In [43]:
file_names_array = np.array(df_one_type['file_loc'])
for i in range(len(file_names_array)):
    if i == 0:
        openet_df = pd.read_csv(file_names_array[i])
    temp_df = pd.read_csv(file_names_array[i])
    openet_df = pd.concat([new_df, temp_df], axis=0)

In [44]:
unique_types = sorted(df['type'].unique())
for j in range(len(unique_types)):
    print(unique_types[j])

modis
openet
tc

In [60]:
unique_types = sorted(df['type'].unique())
for j in range(len(unique_types)):
    df_one_type = df[df['type']==unique_types[j]]
    file_names_array = np.array(df_one_type['file_loc'])
    for i in range(len(file_names_array)):
        if i == 0:
            cols = list(pd.read_csv(file_names_array[i], nrows=1))
            new_df = pd.read_csv(file_names_array[i], parse_dates=['time'], usecols=[i for i in cols if i != "spatial_ref"])
            new_df = new_df.set_index('time')
        else:
            cols = list(pd.read_csv(file_names_array[i], nrows=1))
            temp_df = pd.read_csv(file_names_array[i], parse_dates=['time'], usecols=[i for i in cols if i != "spatial_ref"])
            temp_df = temp_df.set_index('time')
            new_df = pd.concat([new_df, temp_df], axis=0)
    if j == 0:
        final_df = new_df.copy(deep=True)
    else:
        final_df = final_df.join(new_df, on='time', how='outer')
final_df.to_csv('')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1104 entries, 2018-01-01 to NaT
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time                 1104 non-null   datetime64[ns]
 1   ET                   913 non-null    float64
 2   PET                  913 non-null    float64
 3   et_ensemble_mad      60 non-null     float64
 4   et_ensemble_mad_min  60 non-null     float64
 5   et_ensemble_mad_max  60 non-null     float64
 6   aet                  240 non-null    float64
 7   pet                  240 non-null    float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 77.6 KB
None

In [46]:
print(final_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 965 entries, 0 to 45
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time         965 non-null    object
 1   spatial_ref  965 non-null    int64
 2   ET           959 non-null    float64
 3   PET          959 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 37.7+ KB
None

In [71]:
output_dirs = glob.glob("../data/gsa_et/*")
for output_dir in output_dirs:
    gsa_id = output_dir.split("/")[3]
    print(gsa_id)
    sample_dir_files = glob.glob(output_dir + '/*')
    sample_file_types = []
    for output_file in sample_dir_files:
        sample_file_types.append(output_file.split("/")[4].split("_")[0])
    df = pd.DataFrame(np.array([sample_dir_files, sample_file_types]).T, columns=['file_loc', 'type'])
    unique_types = sorted(df['type'].unique())
    for j in range(len(unique_types)):
        df_one_type = df[df['type']==unique_types[j]]
        file_names_array = np.array(df_one_type['file_loc'])
        for i in range(len(file_names_array)):
            if i == 0:
                cols = list(pd.read_csv(file_names_array[i], nrows=1))
                new_df = pd.read_csv(file_names_array[i], parse_dates=['time'], 
                                     index_col = 'time', usecols=[i for i in cols if i != "spatial_ref"])
            else:
                cols = list(pd.read_csv(file_names_array[i], nrows=1))
                temp_df = pd.read_csv(file_names_array[i], parse_dates=['time'], 
                                      index_col='time', usecols=[i for i in cols if i != "spatial_ref"])
                new_df = pd.concat([new_df, temp_df], axis=0)
        if j == 0:
            final_df = new_df.copy(deep=True)
        else:
            final_df = final_df.join(new_df, on='time', how='outer')
    final_df = final_df.sort_values('time')
    final_df = final_df.rename({'ET': 'modis_aet', 'PET': 'modis_pet', 'aet': 'tc_aet', 'pet':'tc_pet'}, axis=1)
    final_df.to_csv('../data/gsa_et_compiled/'+'gsa_et_'+gsa_id+'.csv')

61
159
192
69
306
160
211
218
287
413
484
226
219
217
288
244
281
406
266
464
409
205
233
20
187
18
7
189
42
116
323
73
118
120
10
340
19
314
43
508
506
65
62
369
358
39
106
419
277
481
249
420
418
225
222
209
238
239
206
311
124
514
146
40
147